<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>bookstoreManagmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>booksdispServlet</display-name>
    <servlet-name>booksdispServlet</servlet-name>
    <servlet-class>com.bk.controllers.booksdispServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booksdispServlet</servlet-name>
    <url-pattern>/booksdispServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.bk.controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.bk.controllers.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bk.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.bk.controllers.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookList</display-name>
    <servlet-name>BookList</servlet-name>
    <servlet-class>com.bk.controllers.BookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookList</servlet-name>
    <url-pattern>/BookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.bk.controllers.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookByName</display-name>
    <servlet-name>BookByName</servlet-name>
    <servlet-class>com.bk.controllers.BookByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookByName</servlet-name>
    <url-pattern>/BookByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookByTitleServlet</display-name>
    <servlet-name>BookByTitleServlet</servlet-name>
    <servlet-class>com.bk.controllers.BookByTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookByTitleServlet</servlet-name>
    <url-pattern>/BookByTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.bk.controllers.webapp.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>com.bk.controllers.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCartServlet</display-name>
    <servlet-name>addToCartServlet</servlet-name>
    <servlet-class>com.bk.controllers.addToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCartServlet</servlet-name>
    <url-pattern>/addToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.bk.controllers.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
</web-app>